* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-align: justify;
    text-justify: inter-word;
    font-family: Roboto-ThinItalic;
}


body {
    background: url("../images/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover -moz-background-size:cover;
    background-size: cover;
    width: auto;
    height: 100%;
    margin: 0;
    background-position: center top;
    overflow: auto;
    margin-top: 75px;
}



.sublogo {
    width: 110px;
    float: left;
    margin: 0px;
    margin-left: 31px;
    height: 60px;
}

bdi {
    font-family: Roboto-Medium;
}

.overlay {
           position: absolute;
           top: 0;
           width: 100%;
           height: 100vh;
           margin: auto;
           transition: top 0.3s; 
          }

.rovlogo{ display: block;
          margin: auto;
          background-color: rgba(0,0,0,.5);
          border-radius: 12px;
          margin-top: 40px; 
          padding: 15px; 
           }

.bar{ width: 100%;
      height: 65px;
      border-bottom: 3px solid #5da4d0 ;
      background: linear-gradient(to right, rgba(0, 0, 0 , .9 ), rgba(10, 40, 70 , .7)) ;
      position: fixed;
      z-index: 5;
      }

.correct { overflow-x: hidden; }

.sec { width: 1000px;
       margin: 25px auto; 
      background-color: rgba(10, 40, 70 , .7) ;
      border-radius:12px;
      padding: 30px;
      padding-top: 5px;
        }

    .sec h1 {
        color: #5da4d0;
        text-align: center;
        background-color: rgba(0,0,0,.5);
        padding: 20px;
        width: 600px;
        border-radius: 12px;
        margin: 10px auto;
        font-family: Roboto-Medium;
    }

.sec h2 { 
          color: #5da4d0;
          margin-top: 30px;
          font-size: 30px;  }

.sec p { 
         color: white;
         line-height: 2.3rem;
         font-size: 30px;  }

.sec:after { content: ".";
              display: block;
              clear: both;
              height: 0;
              visibility: hidden; }

.sec img { border: 6px solid white ;  }

.ROV1 { width: 400px;
        margin-top: 20px;
        margin-left: 40px; }

.ROV2 { width: 400px;
        float: left; 
        margin-top: 20px;
        margin-left: 50px;}

.ROV5 {
    width: 887px;
    display: block;
    margin: auto;
    margin-top: 20px;
    height: 365px;
}

.ROV4, .ROV3 {
    width: 430px;
    margin-top: 15px;
    height: auto;
    margin-left: 25px;
    
}



.ROV6 , .ROV7 , .ROV8 , .ROV9 , .ROV10 { width: 292px;
        margin-top: 10px;
        margin-left: 25px; }

.money , .control { margin-top: 20px;
           margin-bottom: 20px; }

.component { padding-left: 20px; 
             width:550px; 
             float: left;
             direction: ltr;
             color: white;
             font-size: 26px;
             padding-right: 19px;
             padding-top: 10px;
             line-height: 3.4rem; }

.pict { float: right;
        width: 350px; }

.advant { 
          color: white;
          font-size: 26px;
          padding-right: 19px;
          padding-top: 10px;
          line-height: 2.5rem;
          margin-bottom: 20px; }

nav ul { list-style-type: none;
         margin: 0px 24%;        
         padding: 0px;
         cursor: pointer;  
         width: 800px;  
         display: flex;
         flex-flow: row;
         flex-wrap: wrap;
         justify-content: center;           }

    nav ul li {
        float: left;
        padding: 23px 15px;
        color: #fff;
        transition: all .2s;
        font-family: Roboto-Medium;
    }

nav ul li:hover { background-color: #322e2a;
                  color: white;
                  box-shadow: inset 0px -3px   0 #51e346;
                                      }

.sectionns { background: linear-gradient(to right, rgba(10, 40, 70 , .7), rgba(0, 0, 0 , .8 )) ; 
             border-top: 4px solid #5da4d0 ;   }

footer div.social { display: flex;
                    flex-flow: row;
                    flex-wrap: wrap;
                    justify-content: center;;
                    margin: auto;
                    overflow-x: hidden;
                    margin: 4px;
              }

footer div a img { width: 90px; 
                  padding: 10px 7px;
                  transition:all .7s;
                  }

footer div a img:hover { transform: scale(1.3) 
                         rotateZ(360deg); }

footer div p {     padding-bottom: 10px;
                   text-align: center;
                   color: white;
                   font-size: 26px; 
                   }

#load {
  position:absolute;
  width:100%;
  height:100%;
  left:0;
  top:0;
  z-index: 99999;
  background-color: #206b82;
  overflow:visible;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  cursor:default;
}

#load .loading-container {
  margin-top: 300px;
  font-size: 80px;
}

#load .loading-container div {
  position:absolute;
  width:20px;
  height:36px;
  opacity:0;
  font-family:Helvetica, Arial, sans-serif;
  animation:move 2s linear infinite;
  -o-animation:move 2s linear infinite;
  -moz-animation:move 2s linear infinite;
  -webkit-animation:move 2s linear infinite;
  transform:rotate(180deg);
  -o-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
  color:#fff;
}

#load div:nth-child(2) {
  animation-delay:0.2s;
  -o-animation-delay:0.2s;
  -moz-animation-delay:0.2s;
  -webkit-animation-delay:0.2s;
}
#load div:nth-child(3) {
  animation-delay:0.4s;
  -o-animation-delay:0.4s;
  -webkit-animation-delay:0.4s;
  -webkit-animation-delay:0.4s;
}
#load div:nth-child(4) {
  animation-delay:0.6s;
  -o-animation-delay:0.6s;
  -moz-animation-delay:0.6s;
  -webkit-animation-delay:0.6s;
}
#load div:nth-child(5) {
  animation-delay:0.8s;
  -o-animation-delay:0.8s;
  -moz-animation-delay:0.8s;
  -webkit-animation-delay:0.8s;
}
#load div:nth-child(6) {
  animation-delay:1s;
  -o-animation-delay:1s;
  -moz-animation-delay:1s;
  -webkit-animation-delay:1s;
}
#load div:nth-child(7) {
  animation-delay:1.2s;
  -o-animation-delay:1.2s;
  -moz-animation-delay:1.2s;
  -webkit-animation-delay:1.2s;
}

@keyframes move {
  0% {
    left:0;
    opacity:0;
  }
  35% {
    left: 41%; 
    -moz-transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
    -o-transform:rotate(0deg);
    transform:rotate(0deg);
    opacity:1;
  }
  65% {
    left:59%; 
    -moz-transform:rotate(0deg); 
    -webkit-transform:rotate(0deg); 
    -o-transform:rotate(0deg);
    transform:rotate(0deg); 
    opacity:1;
  }
  100% {
    left:100%; 
    -moz-transform:rotate(-180deg); 
    -webkit-transform:rotate(-180deg); 
    -o-transform:rotate(-180deg); 
    transform:rotate(-180deg);
    opacity:0;
  }
}

@-moz-keyframes move {
  0% {
    left:0; 
    opacity:0;
  }
  35% {
    left:41%; 
    -moz-transform:rotate(0deg); 
    transform:rotate(0deg);
    opacity:1;
  }
  65% {
    left:59%; 
    -moz-transform:rotate(0deg); 
    transform:rotate(0deg);
    opacity:1;
  }
  100% {
    left:100%; 
    -moz-transform:rotate(-180deg); 
    transform:rotate(-180deg);
    opacity:0;
  }
}

@-webkit-keyframes move {
  0% {
    left:0; 
    opacity:0;
  }
  35% {
    left:41%; 
    -webkit-transform:rotate(0deg); 
    transform:rotate(0deg); 
    opacity:1;
  }
  65% {
    left:59%; 
    -webkit-transform:rotate(0deg); 
    transform:rotate(0deg); 
    opacity:1;
  }
  100% {
    left:100%;
    -webkit-transform:rotate(-180deg); 
    transform:rotate(-180deg); 
    opacity:0;
  }
}

@-o-keyframes move {
  0% {
    left:0; 
    opacity:0;
  }
  35% {
    left:41%; 
    -o-transform:rotate(0deg); 
    transform:rotate(0deg); 
    opacity:1;
  }
  65% {
    left:59%; 
    -o-transform:rotate(0deg); 
    transform:rotate(0deg); 
    opacity:1;
  }
  100% {
    left:100%; 
    -o-transform:rotate(-180deg); 
    transform:rotate(-180deg); 
    opacity:0;
  }
}
@font-face {
    src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/polar.otf");
    font-family: 'Polar';
}
@font-face {
    src: url("../Roboto/Roboto-Medium.ttf");
    font-family: Roboto-Medium;
}

@font-face {
    src: url("../Roboto/Roboto-ThinItalic.ttf");
    font-family: Roboto-ThinItalic;
}